@media screen and (max-width: 780px) {
  * {
    background-color: black;
    background-image: url("../assets/background-stars.svg");
    font-family: "League Spartan";
    text-transform: uppercase;
  }

  .app {
    color: white;
  }

  button {
    color: white;
    border: none;
  }
  button:hover {
    color: white;
  }

  .image {
    display: flex;

    border: solid 1px white;
  }

  .img {
    width: 50%;
  }
  .navBar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #d3d3d3 solid;
    flex-direction: column;
    z-index: 1001;
  }

  .nav {
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: right;
    padding: 10px;
    font-family: "Antonio";
  }

  .nav > a {
    display: none;
    padding: 8px;
    color: #ffffffcf;
    text-decoration: none;
  }

  .content {
    margin: 10% 5% 5%;
  }

  button > span {
    color: lightslategray;
    background: none;
    display: none;
  }

  .text {
    font-family: "Antonio";
    text-transform: none;
  }

  .buttons {
    display: none;
  }
  .btn-mbl {
    height: 5%;
    display: flex;
    border: none;
    justify-content: center;
  }
  .btn-mbl > button > span {
    display: none;
  }

  .frame {
    /* /* display: flex; */
    /* width: 50%; */
    /* justify-content: center; */
    /* align-content: center;
    position: relative;
    background: none;
    max-height: 420px; */
  }
  .frame > div {
    display: flex;
    justify-content: center;
    /* width: 50%; */
  }

  .stats {
    display: flex;
    flex-direction: column;
  }

  .stats > div {
    /* position: relative;*/
    display: flex;
    border: solid 0.25px #ffffff75;
    margin: 10px;
    padding: 10px;
    height: 4vh;
    justify-content: space-between;
    align-items: center;
    /*flex-direction: column;
    justify-content: left;
    top: 100px;
     */
  }

  .stat-name {
    font-size: 10px;
    margin: 0px;
    color: #ffffff75;
  }

  .stat-num {
    font-size: 20px;
    font-family: "Antonio";
  }

  .img-surface {
    /* position: absolute;
    top: 105px;
    left: 250px;
    background: none; */
  }

  .img-planet {
    /* position: relative;
    background: none; */
  }

  .name {
    font-size: 50px;
    font-weight: 300;
  }

  .info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .hamburger {
    background: none;
    height: 10%;
  }
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
    transform: translateX(880%);
  }
  .bm-burger-bars {
    background: #373a47;
  }
  .bm-burger-bars-hover {
    background: #bdc3c7;
  }
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  .bm-cross {
    background: #bdc3c7;
  }
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  .bm-item {
    display: inline-block;
  }
}
