@media screen and (min-width: 780px) and (max-width: 900px) {
  * {
    background-color: black;
    background-image: url("../assets/background-stars.svg");
    font-family: "League Spartan";
    text-transform: uppercase;
  }

  .app {
    color: white;
  }

  button {
    color: white;
    padding: 10px;
  }
  button:hover {
    background-color: aqua;
    color: white;
    padding: 10px;
  }

  .image {
    display: flex;
    width: 400px;
    height: 400px;
    border: solid 1px white;
  }

  .navBar {
    display: flex;
    justify-content: center;
    border-bottom: 1px lightgray solid;
    flex-direction: column;
    align-items: center;
    padding: 1px;
  }

  .nav {
    display: flex;
    text-align: center;
    justify-content: right;
    padding: 9px;
    font-family: "Antonio";
    z-index: 0;
    background: none;
  }

  .nav > a {
    padding: 8px;
    color: #ffffffcf;
    text-decoration: none;
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 60vh;
    margin: 7%;
    background: none;
  }

  button > span {
    color: lightslategray;
    padding-right: 25px;
    background: none;
  }

  .buttons > button {
    justify-content: left;
    align-items: flex-start;
    display: flex;
    line-height: 30px;
    margin: 20px 0 10px;
  }

  .text {
    font-family: "Antonio";
    text-transform: none;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5%;
    z-index: 5;
    background: none;
  }

  .summary {
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 5;
    background: none;
  }

  .frame {
    display: flex;
    width: 50%;
    justify-content: center;
    align-content: center;
    position: relative;
    background: none;
    max-height: 420px;
    z-index: 1;
  }

  .stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-content: center;
    position: relative;
  }

  .stats > div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border: solid 0.25px #ffffff75;
    height: 6vh;
    width: 30vw;
    padding: 10px;
    top: 100px;
    margin: 10px;
  }

  .stat-name {
    font-size: 10px;
    margin: 0px;
    color: #ffffff75;
  }

  .stat-num {
    font-size: 20px;
    font-family: "Antonio";
  }

  .img-surface {
    position: absolute;
    top: 140px;
    left: 200px;
    background: none;
    height: 200px;
  }

  .img-planet {
    position: relative;
    background: none;
  }

  .name {
    font-size: 70px;
    font-weight: 300;
    background: none;
  }

  .info {
    width: 50%;
    margin: 5%;
    background: none;
  }

  .hamburger {
    display: none;
  }
  .btn-mbl {
    display: none;
  }
}
